extends layout

block content
  h1= title

  form(action="/cc", method="POST") 
    div(class="textfields")
      label(for="ciphertext") Ciphertext: 
      textarea(name="ciphertext", id="ciphertext", cols="30", rows="10")
    div(class="textfields")
      label(for="key") Schl端ssel: 
      input(type="text", name="key", id="key") 
    div
      button(type="submit", class="submitBtns") Text entschl端sseln 

  button(onClick="window.location.href='/'" class="routeBtns") Back

  p(name="key" class="result") Schl端ssel: #{key}
  p(name="result" class="result") Entschl端sselter Text: #{result}