extends layout

block content
    h1= title

    form(action="/cc", method="POST") 
        label(for="ciphertext") Ciphertext: 
        textarea(name="ciphertext", id="ciphertext", cols="30", rows="10")

        label(for="key") Schlüssel: 
        input(type="text", name="key", id="key") 

        button(type="submit") Submit 

    p(name="result") Entschlüsselter Text: #{result}