extends layout

block content
  h1= title

  label(for="matrix") Matrix:
  textarea(name="matrix", id="matrix", cols="30", rows="10")

  button(onClick='compute()') DCT berechnen

  table(id="dct-table") 

  script(src="/javascripts/dctScript.js")