extends layout

block content
  h1= title

  form(action="dct", method="POST")
    label(for="matrix") Matrix:
    textarea(name="matrix", id="matrix", cols="30", rows="10")
    br
    button(onClick='compute()') DCT berechnen

  p(id="dct-table") #{dct}
