extends layout

block content
  h1= title

  button(onClick="window.location.href='/cc'") Ceasar's Cipher
  button(onClick="window.location.href='/dct'") Discrete Cosinus Transformation
  button(onClick="window.location.href='/bmi'") BMI