extends layout

block content
  h1= title

  button(onClick="window.location.href='/cc'" class="routeBtns") Ceasar's Cipher
  button(onClick="window.location.href='/dct'" class="routeBtns") Discrete Cosinus Transformation
  button(onClick="window.location.href='/bmi'" class="routeBtns") BMI